/* variables
*************/
$colors: (
    primary: #17222a,
    primary-light: lighten(#17222a, 5%),
    accent: #3cf28b,
    text: #061e2d,
    bg: #fafafa,
    vue: #41b883,
    react: #61dafb,
    angular: #ca404f,
    git: #f05033,
    gitlab: #3f3177,
    js: #f7df1e,
    node: #026e00,
    vscode: #0076c6,
    python: #fed24b,
    html: #e85d25,
    css: #2060a8,
    netlify: #00c2b1
);
